.background{
    background-image: url(../image/500175932.jpg);
    background-size: 100% 100%;
    height: 800px;
    width:1600px;
    margin-top:-7px;
    margin-left: -7px;
}

.title{
    margin-left: 600px;
    font-size: xx-large;
    font-family: STCaiyun;
}

.horizontal {
    background-color: #87CEFA;
    width: 1100px;
    height: 50px;
    margin-left:200px;
    margin-top: 30px;
}

.vertical{
    background-color: #87CEFA;
    width: 110px;
    height: 500px;
    margin-left: 200px;
}

.button{
    border-width: 0px;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    font-family: Microsoft YaHei;
    color: white;
    background-color: #87CEFA;
    height:35px;
    width:110px;
    margin-top: 4px;
}

.clickbtn:hover{
    box-shadow: .05em .1em .2em rgba(0,0,0,.6) inset;
    border-color: rgba(0,0,0,.3);
    background: #87CEFA;
}

.searchbutton{
    width:130px;
    height:30px;
    border-radius: 20px;
    margin-top: 30px;
    margin-left:15px;
}

.searchbutton:active{
    box-shadow: .05em .1em .2em rgba(0,0,0,.6) inset;
    border-color: rgba(0,0,0,.3);
    background: #bbb;
}

.searchhint{
    font-family: STXinwei;
    font-size: x-large;
}

.input{
    text-align: center;
    height:22px;
    margin-left: 10px;
    border-radius: 3px;
    border: 1px solid #66afe9;
}

.input:focus{
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
}

.retrieve{
    display:none;
    margin-top: -400px;
    text-align: center;
}

.none{
    text-align: center;
    margin-left: 360px;
    margin-top: -400px;
    height:70px;
    font-family: verdana, arial, sans-serif;
    font-size: 11px;
    color: #333333;
    border-width: 1px;
    border-color: #999999;
    border-collapse: collapse;
}

.none th{
    background: #b5cfd2 url('../image/cell-blue.jpg');
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #999999;
}

.none td{
    background: #dcddc0 url('../image/cell-grey.jpg');
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #999999;
}

.enter{
    display:none;
    margin-top: -420px;
    text-align: center;
}

.searchresult {
    text-align: center;
    margin-left: 380px;
    margin-top: 30px;
    height: 70px;
    font-family: verdana, arial, sans-serif;
    font-size: 11px;
    color: #333333;
    border-width: 1px;
    border-color: #999999;
    border-collapse: collapse;
}

.searchresult th{
    background: #b5cfd2 url('../image/cell-blue.jpg');
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #999999;
}

.searchresult td{
    background: #dcddc0 url('../image/cell-grey.jpg');
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #999999;
}

.enterhint{
    font-family: STXinwei;
    font-size: 20px;
}

.item{
    margin-top:25px;
}

.enterbutton{
    width:130px;
    height:30px;
    border-radius: 20px;
    margin-top: 30px;
}

.enterbutton:active{
    box-shadow: .05em .1em .2em rgba(0,0,0,.6) inset;
    border-color: rgba(0,0,0,.3);
    background: #bbb;
}

.approveresult{
    text-align: center;
    margin-left: 520px;
    margin-top: -440px;
    height:70px;
    font-family: verdana, arial, sans-serif;
    font-size: 11px;
    color: #333333;
    border-width: 1px;
    border-color: #999999;
    border-collapse: collapse;
}

.approveresult th{
    background: #b5cfd2 url('../image/cell-blue.jpg');
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #999999;
}

.approveresult td{
    background: #dcddc0 url('../image/cell-grey.jpg');
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #999999;
}

.approvebutton{
    width:130px;
    height:30px;
    border-radius: 20px;
    margin-top: 30px;
    display: none;
    position: absolute;
    left:750px;
}

.approvebutton:active{
    box-shadow: .05em .1em .2em rgba(0,0,0,.6) inset;
    border-color: rgba(0,0,0,.3);
    background: #bbb;
}

.status{
    margin-top: -460px;
    text-align: center;
    display: none;
}

.statusbutton{
    width:130px;
    height:30px;
    border-radius: 20px;
    margin-top: 60px;
    margin-left:15px;
}

.statusbutton:hover{
    box-shadow: .05em .1em .2em rgba(0,0,0,.6) inset;
    border-color: rgba(0,0,0,.3);
    background: #bbb;
}

.statushint{
    font-family: STXinwei;
    font-size: 20px;
}

.select{
    margin-left: 10px;
    width: 65px;
    height:25px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    padding: 0;
    overflow: hidden;
    background: #fff;
    color: #555;
    border: 1px solid #aaa;
    text-shadow: none;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-transition: box-shadow 0.25s ease;
    -o-transition: box-shadow 0.25s ease;
    -webkit-transition: box-shadow 0.25s ease;
    transition: box-shadow 0.25s ease;

}

.select select {
    cursor: pointer;
    padding: 0.5em;
    padding-right: 2em;
    width: 130%;
    border: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    width: 160% ;
}


.sethint{
    font-family: STXinwei;
    font-size: 20px;
}

.statusresult{
    text-align: center;
    margin-left: 200px;
    margin-top: 50px;
}

.statustable{
    margin-left:190px;
    font-family: verdana, arial, sans-serif;
    font-size: 11px;
    color: #333333;
    border-width: 1px;
    border-color: #999999;
    border-collapse: collapse;
}

.statustable th{
    background: #b5cfd2 url('../image/cell-blue.jpg');
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #999999;
}

.statustable td{
    background: #dcddc0 url('../image/cell-grey.jpg');
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #999999;
}

.setarea{
    margin-top:100px;
}

.display {
    text-align: center;
    margin-left: 380px;
    margin-top:-430px;
    height: 70px;
    font-family: verdana, arial, sans-serif;
    font-size: 11px;
    color: #333333;
    border-width: 1px;
    border-color: #999999;
    border-collapse: collapse;
}

.display th{
    background: #b5cfd2 url('../image/cell-blue.jpg');
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #999999;
}

.display td{
    background: #dcddc0 url('../image/cell-grey.jpg');
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #999999;
}

@keyframes loading {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0.1;
        transform: translateY(-2rem);
    }
}

.loading {
    display: none;
    justify-content: center;
    margin-top: -300px;
    align-items: center;
}

.loading>div {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    background: #8385aa;
    opacity: .5;
    margin: 20px;
    color: #fff;
    text-align: center;
    line-height: 33px;
    font-size: 1.5rem;
    animation: loading 0.8s infinite alternate;
}

.loading>div:nth-child(2) {
    animation-delay: 0.4s
}

.loading>div:nth-child(3) {
    animation-delay: 0.6s;
}

